[Unit]
Description=KvirtIO I/O Watcher Service
After=network.target

[Service]
Type=oneshot
User=kvirtwatch
ExecStart=/usr/local/bin/kvirtio-io-watcher.sh
# Hardening del processo locale
PrivateTmp=true
ProtectSystem=strict
ProtectHome=read-only

[Install]
WantedBy=multi-user.target
