[Unit]
Description=Run KvirtIO Virtual Machines Watcher every 10 minutes

[Timer]
OnCalendar=*:0/10
Persistent=true
Unit=kvirtio-vm-watcher.service

[Install]
WantedBy=timers.target
