[Unit]
Description=Run KvirtIO Host Watcher every 5 minutes

[Timer]
OnCalendar=*:0/5
Persistent=true
Unit=kvirtio-host-watcher.service

[Install]
WantedBy=timers.target
